* {
  box-sizing: border-box;
}

div {
  display: flex;
  justify-content: space-around;
}

h1 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-family: monospace;
  color: #2b619e;
  text-decoration: underline;
}

form {
  margin: 0 auto;
  margin-top: 50px;
  width: 30%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 30px;
}

label {
  font-size: 20px;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type="submit"] {
  background-color: #2b619e;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

input[type="submit"]:hover {
  background-color: #3973b6;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin-top: 50px;
  text-align: center;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  background-color: #0468aa;
  color: white;
}



.high-priority {
  background-color: #cfe8ff;
}

.low-priority {
  background-color: white;
}